@use "variables" as *;
@use './mixins' as *;


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-title{
        font-family: $font-family-geneva;
        font-weight: $font-weight-bold;
        font-size: 20px;

    }
    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-sm;
        &-logo{
            @include flex-center;
            width: 42px;
            height: 42px;
            border-radius: 999px;
            border: solid whitesmoke;
        }
    }
}

.search-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $radius-sm;
  padding-right: $space-sm;
  padding-left: $space-sm;
  height: 40px;
  box-shadow:
  0 2px 4px rgba(0, 0, 0, 0.05),
  0 6px 12px rgba(0, 0, 0, 0.08);
  &-input{
      border: none;
      outline: none;
      background: transparent;
  }
  &-btn{
    background: none;
    border: none;
  }
  &-icon{
    color: #6e7175;
    cursor: pointer;
  }
  &-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-sm;
    background-color: #3B33E4;
    border-radius: $radius-sm;
    cursor: pointer;
    &-icon{
        color: rgb(197, 197, 197);
    }
  }
}

.tournament-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-sm;
    box-shadow: $shadow-md;
    padding: $space-md;
    border-radius: $radius-md;
    text-decoration: none;
    color: inherit;
      &:hover{
        transform: scale(1.1)
      }
        &-header{
            display: flex;
            gap: $space-md;
                &-flex{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: $space-xs;
                }
                &-title{
                    font-weight: $font-weight-bold;
                    font-family: $font-family-geneva;
                    font-size: medium;
                    margin: 0;
                }
                &-img{
                    width: 48px;
                    height: 48px;
                    border-radius: $radius-sm;
                    align-self: center;
                }

    }      
      &-rules{
                display: flex;
                flex-direction: column;
                gap: $space-xs;
                
        }
    &-rule{
        display: flex;
        align-items: center;
        gap: $space-sm;
        margin: 0;
        color: rgb(66, 66, 66);
        &-icon{
            color: rgb(66, 66, 66)
        }
    }
    p{
                    font-family: $font-family-geneva;
                    margin: 0;
    }
}

.divider{
      border: none;
      height: 2px;
      background-color: $gray;
    }

.badge{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $space-xs;
      border-radius: $radius-md;
      width: 64px;
      height: 12px;
      &-title{
        color:white;
        font-size: x-small;
        font-weight: $font-weight-bold;
        font-family: $font-family-geneva;
      }
  &-green{
         background: linear-gradient(90deg, #78ff7e, #09b811);
       }
  &-blue{
    background: linear-gradient(90deg, #45caff, #1e93c1);
  }
  &-gray{
    background: linear-gradient(90deg, #a3a8a3, #888787);
  }
}


.participant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-sm;
    padding: $space-sm;
    border-radius: $radius-md;
    background-color: #E6F7E6;
    font-weight: $font-weight-bold;
    &-content{            
        display: flex;
        align-items: center;
        gap: $space-sm;
        &-img{
            width: 32px;
            height: 32px;
            border-radius: 999px;
            border: solid;
            border-color: whitesmoke;
        }
        &-name{
            font-family: $font-family-geneva;
        }
    }
    &-status{
        display: flex;
        align-items: center;
        gap: $space-sm;
        color: $primary-green;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-lg;
}