@use "variables" as *;
@use './mixins' as *;

@media (min-width: 800px){
    #root {
        max-width: 1080px;
        min-width: 600px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}